<!DOCTYPE html>
<html>
<head>
<title>مراسيم الشموخ</title>
<style>
body{
background:#F5F5DC;
font-family:Arial;
text-align:center;
}
.box{
background:#87CEEB;
width:300px;
margin:120px auto;
padding:30px;
border-radius:15px;
}
input{
padding:8px;
width:90%;
}
button{
padding:10px;
border:none;
border-radius:8px;
}
</style>
</head>
<body>
<div class="box">
<h2>🏪 مراسيم الشموخ</h2>
<form method="post">
<input name="username" placeholder="اسم المستخدم"><br><br>
<input type="password" name="password" placeholder="كلمة المرور"><br><br>
<button type="submit">دخول</button>
</form>
</div>
</body>
</html>
